html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --main-bg-color: rgb(21, 32, 43);
  --accent-bg-color: rgb(37, 51, 65);
  --accent-bg-color-glow: rgb(47, 64, 82);
  --action-color: rgb(29, 161, 242);
  --error-color: rgb(251, 78, 116);
  --error-bg-color: rgb(69, 8, 8);
}

html {
  background: var(--main-bg-color);
  font-family: sans-serif;
  font-size: 10px;
  color: white;
}

body {
  font-size: 1.4rem;
}

a {
  color: var(--action-color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--action-color);
  text-decoration: underline;
}

.page-container {
  width: 1024px;
  margin: 0 auto;
  border-right: 1px solid var(--accent-bg-color);
  border-bottom: 1px solid var(--accent-bg-color);
  border-left: 1px solid var(--accent-bg-color);
}

.section-container {
  border-bottom: 1px solid var(--accent-bg-color);
  padding: 0.5rem 2rem;
}

.section-container--header {
  display: flex;
}

.section-container--header > .logo {
  flex: 1;
}

.page-action {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.page-action i {
  font-size: .9em;
}

.logo h1 {
  margin: 0;
  padding: 1rem 0 0 0;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 5rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.menu__item {
  transition: 200ms color;
}

.menu__item a {
  display: block;
  color: inherit;
  padding: 1rem;
  text-decoration: none;
}

.menu__item i {
  font-size: inherit;
}

.menu__item:hover {
  color: var(--action-color);
}

.groups__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.4rem;
}

.groups__item {
  transition: 200ms color;
  float: left;
}

.groups__item a {
  display: block;
  color: inherit;
  padding: 2rem 1.4rem;
  text-decoration: none;
}

.groups__item:hover {
  color: var(--action-color);
}

.section-container--title {
  display: flex;
  padding: 2rem;
}

.section-container__title {
  flex: 1;
  margin: 0;
  font-size: 3.2rem;
}

.section-container__title--main {
  flex: 1;
  font-size: 3.8rem;
}

.section-container--footer {
  display: flex;
}

.post {
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.post > * {
  margin-right: 1.5rem;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes__arrow {
  background: var(--accent-bg-color);
  border-radius: 100%;
  text-align: center;
  transition: 300ms all;
  width: 3rem;
  height: 3rem;
}

.votes__arrow:hover {
  background: var(--accent-bg-color-glow);
}

.votes__arrow:first-child {
  margin-bottom: .7rem;
  width: 4rem;
  height: 4rem;
}

.votes__arrow i {
  font-size: 2.6rem;
}

.votes__arrow:first-child i {
  font-size: 3.5rem;
}

.votes__arrow:last-child a {
  color: var(--main-bg-color)
}
.votes__arrow:last-child a:hover {
  color: var(--action-color);
}

.post__thumb {
  width: 200px;
}

.post-thumb__info {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6rem;
}

.post__body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  line-height: 2rem;
}
.post__body p {
  margin: inherit;
  padding: inherit;
}

.post-body__excerpt a {
  color: inherit;
}

.action-bar {
  display: flex;
}

.action-bar__modify {
  margin-left: auto;
}

.pagination {
  display: flex;
  margin: 1.5rem 0 1.5rem 6rem;
}

.page-num {
  font-size: 2.4rem;
  padding: 1rem;
}

.page-num--active, .page-num:hover {
  background: var(--accent-bg-color);
}

.page-num--elipsis:hover {
  background: inherit;
}

.footer-section {
  flex: 50%;
}

.footer-section__title {
  font-size: 2.4rem;
}

.button {
  display: inline-block;
  color: inherit;
  text-align: center;
  min-width: 10rem;
  background: var(--action-color);
  border: none;
  padding: 1rem;
  border-radius: 2px;
  margin-right: .5rem;
  border: 1px solid var(--accent-bg-color);
  cursor: pointer;
}

.button:hover {
  background: var(--action-color);
  color: white;
}

.form {
  display: flex;
  width: 768px;
  margin: 0 auto;
  padding: 3rem 0;
  flex-direction: column;
}

.form form {
  width: 100%;
}

.form__field {
  width: 50%;
  margin-bottom: 4rem;
}

.form__field--invalid {
  outline: 2px solid var(--error-color);
}

[data-form-error] {
  display: none;
}

form[data-invalid] [data-form-error] {
  display: block;
}

.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.field__input {
  margin-bottom: 1rem;
  border: 0;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.field__error {
  color: var(--error-color);
  border: 1px solid;
  padding: .6rem;
}

.form__error {
  width: 50%;
  color: var(--error-color);
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form__info {
  width: 50%;
  color: var(--action-color);
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form__submit {
  align-self: flex-start;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
}

.poster h2, h3, h4{
  margin: 0;
}

.poster__icon i {
  font-size: 28rem;
}

.poster__title {
  font-size: 3.2rem;
}
.poster__tagline {
  font-size: 2.2rem;
  margin-top: 3rem;
}

.poster__actions {
  display: flex;
  align-items: flex-end;
  margin-top: 2rem
}
.poster__actions button{
  width: 12rem;
  margin-left: 2rem;
}

.section-container--comments {
  width: 65%;
  margin: 4rem auto;
}

.comment {
  display: flex;
  margin-bottom: 2rem;
}

.comment > * {
  margin-right: 1.5rem;
}

.group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.group > * {
  margin-right: 1.5rem;
}


.group-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-action__icon i {
  font-size: 3.2rem;
}

.group-content {
}

.group-content__title {
  font-size: 2.2rem;
}

.group-content__tagline {
  font-size: 1.6rem;
}

.group-admin-actions {
  align-self: center
/*   margin-top: 1rem; */
/*   flex: 100%; */
}

.group-user {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.group-user > * {
  margin-right: 1.5rem;
}

.group-user-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-user-action__icon i {
  font-size: 3.2rem;
}
